.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: var(--space-xs) var(--space-m);
    margin-bottom: var(--space-xxl);
    background-color: (var(--color-white));
    transition: background-color 1000ms ease, box-shadow 250ms ease;

    &__brand {
        font-weight: bold;
        font-size: var(--font-size-xl);
        color: var(--color-text-header);
    }

    &__name {
        font-weight: bold;
        margin-left: auto;
        margin-right: var(--space-s);
        color: var(--color-text-header);
    }

    &__right {
        margin-left: auto;
    }

    &--active {
        background-color: var(--color-white);
        box-shadow: var(--shadow-large);
    }
}