<% flash.each do |falsh_type, message| %>
    <div 
        class="flash__message"
        data-controller="removals"
        data-action="animationend->removals#remove"
    >
        <%= message %>
    </div>
<% end %>